@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*, button {
    font-family: 'Archivo Black', sans-serif;
}

body {
    background-color:#01012b;
    color: white;
}

.lottery-title {
    text-align: center;
}

.dropdown-toggle:hover, .dropdown-item:hover {
    opacity: 0.7;
}

.dropdown-toggle:active{
    transform: scale(0.7, 0.7);
    transition: transform 0.25s ease;
}